<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.1.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.9.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="23.2.7" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="23.2.7" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.DataSource" version="23.2.7" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="23.2.7" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfListView" version="23.2.7" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>